.idea/
*.gem
/tmp
/logs/*.log
/reports/*.ser
/snapshots/*.ses
/spec/support/logs/*.log
/spec/support/reports/*.crf
/spec/support/snapshots/*.csf
/private.pem
error.log
TODO
.rvmrc
coverage/
.env
.bundle/
mkmf.log
target
*.dll
*.dylib
*.lock
*.so
*.tar.gz
.rspec_status
*.crf
*.csf
.rake_tasks~
